.work {
    padding-left: 3em;
    padding-right: 3em;

    padding-top: 5em;
    padding-bottom: 5em;
}

.project {
    padding-top: 1em;
    padding-bottom: 1em;

    text-align: center;
}

.project img {
    filter: brightness(80%);

    width: 100%;
    border-radius: 10px;

    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.project img:hover {
    transform: rotateY(10deg);
}